<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../static/mystyles.css">
    <style>
      .spaced {
        margin: 0 10vw;
      }
      .padded {
        padding: 1vh 0;
      }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script> window.onload=function() {
      if ({{msgEnable}} == true){
        window.alert("Wrong answer, please try again!");
      }
    };
  </script>
  </head>
  <body class="has-text-white" background="../static/backgroundDarker.png">
    <br></br>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="../static/SpaceMazeV2.png" alt="" style="height: 80px;">
      </p>
    </nav>

  <div class="columns">
    <div class="column spaced">
      <h1 class="has-text-centered has-text-white title">Map</h1>
      <img src="../static/curiosityMap.jpg" border="3"/>
    </div>
    <div class="column spaced">
      <h1 class="title has-text-centered has-text-white">
        {{mapVal}}
      </h1>
      <img src="{{ myLink }}" border="3" height="320" width="360" spaced>
    </div>
  </div>


<progress class="progress is-warning" value="{{progressValue}}" max="100">{{progressValue}}%</progress>


<section class="hero is-dark is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="subtitle">
        Question: {{qNo}}
      </h1>
      <h2 class="title" >
        {{challenge}}
      </h2>
    </div>
  </div>
</section>
  <form action="/submit" method="POST">
      <div class="columns has-text-centered padded">
        <br></br>
        <div class="column is-dark">
          <label class="radio">
            <p>{{optA}}</p>
              <input type="radio" name="options" value="a"/>
          </label>
        </div>
        <div class="column is-dark">
          <label class="radio">
            <p>{{optB}}</p>
              <input type="radio" name="options" value="b"/>
          </label>
        </div>
        <div class="column is-dark">
          <label class="radio">
            <p>{{optC}}</p>
              <input type="radio" name="options" value="c"/>
          </label>
        </div>
        <div class="column is-dark">
          <label class="radio">
            <p>{{optD}}</p>
              <input type="radio" name="options" value="d"/>
          </label>
        </div>
      </div>
      <div class="has-text-centered">
        <input type="submit" class="button is-medium is-warning is-outlined" value="submit" name="anotherinput"/>
      </div>
    </form>
  </body>
</html>
