<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../node_modules/bulma/mystyles.css">
    <style>
      .spaced {
        margin: 0 10vw;
      }
      .padded {
        padding: 4vh 0;
      }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body class="has-text-white">
    <br></br>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="../images/SpaceMaze.png" alt="" style="height: 80px;">
      </p>
    </nav>
  <!--<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Question</p>
        <a class="tile is-child button">
          Answer A
        </a>
          <br></br>
        <a class="tile is-child button">
          Answer B
        </a>
          <br></br>
        <a class="tile is-child button">
          Answer C
        </a>
          <br></br>
        <a class="tile is-child button">
          Answer D
        </a>
      </div>
      <div class="tile is-child box">
        <figure class="image is-4by3">
          <img id = "curiosimg" src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia19067_gupta-1-traverse_waypoints_sol0817.jpg">
        </figure>
      </div>
    </div>
    <div class="tile is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Three</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
        <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
      </div>
      <div class="tile is-child box">
        <p class="title">Four</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
        <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
      </div>
    </div>
    <div class="tile is-vertical is-parent">
      <div class="tile is-child box is-11">
        <p class="title">Three</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
        <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
      </div>
      <div class="tile is-child box is-11">
        <p class="title">Four</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
        <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
      </div>
    </div>
  </div>-->

  <div class="columns">
    <div class="column spaced">
      <h1 class="has-text-centered has-text-white title">Map</h1>
      <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia19067_gupta-1-traverse_waypoints_sol0817.jpg"/>
    </div>
    <div class="column spaced">
      <h1 class="title has-text-centered has-text-white">
  Hint
      </h1>
      <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia19067_gupta-1-traverse_waypoints_sol0817.jpg"/>
    </div>
  </div>




  <section class="hero is-dark is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Question
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!
      </h2>
    </div>
  </div>
</section>
<form method="POST" action="/submit">
  <div class="columns has-text-centered padded">
    <div class="column spaced is-dark">
      <p>Hi</p>
      <input type="radio" name="answer"/>
    </div>
    <div class="column spaced is-dark">
      <p>Hi</p>
      <input type="radio" name="answer"/>
    </div>
    <div class="column spaced is-dark">
      <p>Hi</p>
      <input type="radio" name="answer"/>
    </div>
    <div class="column spaced is-dark">
      <p>Hi</p>
      <input type="radio" name="answer"/>
    </div>
  </div>
  <div class="has-text-centered">
    <button class="button is-medium is-danger is-outlined">
      Submit
    </button>
  </div>
</form>



  </body>
</html>
