<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landing - Free Bulma template</title>
  <link rel="stylesheet" href="/links/bulma.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.6.0 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>
<body background="../static/spaceXCrop.png">
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-active" href="/">
            <label for="hi">Logoff</label>
            <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/logout-switch-off-shyt-down-computer-button-387460d67321b56a-512x512.png" alt="Logoff" id="hi">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/loggedin">
              Home
            </a>
            <a class="navbar-item is-active" href="/help">
              Help
            </a>
          </div>
        </div>
      </div>
    </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <div class="box">
          <h1 class="title">
            Wooo! You're taking off!
          </h1>
          <h2 class="subtitle">
             You got all of the questions right! Keep it up and we're sure you'll be an astronaut in no time....in the meantime, why not try some harder questions?
          </h2>

            <div class="field">
              <a href="/loggedin" class="button is-info">
                  Go Back and try a harder test
              </a>
                <a href="/" class="button is-info">
                  No thanks, log me out
                </a>
            </div>
            </div>
        </div>
      </div>
    </div>

  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
